<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Please Be Up</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="favicon.png">
  <link rel="stylesheet" href="styles/default.css">
</head>
<body>
  <%- include("./partials/header.ejs") %>

  <div class="content">
    <form id="app-form" action="/submit" onsubmit="checkInput(event)">
      <input id="url-input" name="url" type="text" placeholder="enter a URL" onfocus="this.placeholder=''" onblur="this.placeholder='enter a URL'" autocomplete="off">

      <input id="submit-button" type="submit" value="Please Be Up">
    </form>
    <div id="description">
      <p><strong>Please Be Up</strong> will check if a website is down or not. It will also display the returned status code and a short description about the status code.</p>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
  <script src="scripts/regex.js"></script>
</body>
</html>