<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Is It Down?</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="favicon.png">
  <link rel="stylesheet" href="styles/default.css">
</head>
<body>
  <div class="header">
    <div id="title-div">
      <h1 id="title-heading">Is It Down?</h1>
    </div>
  </div>
  <div class="content">
    <form id="app-form" action="#" method="GET" onsubmit="checkInput(event)">
      <input id="url-input" type="text" placeholder="website.com">
      <br>
      <input id="submit-button" type="submit" value="Is It Down?">
    </form>
  </div>
  <div class="footer">
      <p>hello :) <span id="github-url" ><a id="github-url" href="https://github.com/ghendersonnc" target="_blank"><i class="fa fa-github" style="font-size: 24px"></i></a></span></p>
  </div>
  <script src="scripts/regex.js"></script>
</body>
</html>