<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Please Be Up</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="favicon.png">
  <link rel="stylesheet" href="styles/default.css">
</head>
<body>
  <%- include("./partials/header.ejs") %>
  <div class="content">
    <h1 id="message"><%= message %></h1>
    <p id="sub"><%= sub %></p>

    <button onclick="redirect()">Back to Home</button>
  </div>

  <%- include("./partials/footer.ejs") %>
  <script>
    function redirect() {
      window.location = "/";
    }
  </script>
</body>
</html>