

html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: white;
    overflow-x: hidden;
}

/* HEADER */
.header {
    padding: 20px;
    text-align: center;
    background: #573dec;
    color: white;
    font-size: 24px;
    text-shadow: 0px 0px 8px black;
}

/* PAGE CONTENT */
.content {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content > #app-form > #url-input {
    font-size: 36px;
    text-align: center;
    border: none;
    outline: none;
    width: 75%;
}

.content > #app-form {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.content > #app-form > #submit-button {
    margin-top: 20px;
    font-size: 24px;
    border: none;
    background: #573dec;
    color: white;
    padding: 12px;
    box-shadow: 0 0px 10px 0 black;

}

.content > #app-form > #submit-button:hover {
    margin-top: 20px;
    font-size: 24px;
    border: none;
    background: #4e36d3;
    color: white;
    padding: 12px;
    box-shadow: 0 0px 15px 0 black;

}

.content > #description {
    width: 50%;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    font-size: 24px;
    border: none;
    background: #573dec;
    color: white;
    padding: 12px;
    box-shadow: 0 0px 10px 0 black;

}

button:hover {
    margin-top: 20px;
    font-size: 24px;
    border: none;
    background: #4e36d3;
    color: white;
    padding: 12px;
    box-shadow: 0 0px 15px 0 black;

}

/* FOOTER */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 5px;
    background: #573dec;
    color: white;
}

#github-url {
    color: white;
    text-decoration: none;
    position: relative;
    top: 1px;
}

#github-url:hover {
    color: rgb(170, 170, 170);
}